// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Yanone Kaffeesatz', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font_size_label:25px;
$font_size_small:12px;

// Colors
$blue: #0282f9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg_dark: #1c1c1c;
$bg_dark_bar: #303030;
$unselected_gray: #8d8d8d;
$font_dark: #464646;
    //comic Colors
$blue_font_comic:#003f5e;
$white_comic_detail_bg:#f6f6f6;
    //comic green button
    $green_button_border: #357739;
    $green_button_bg: #55ba59;
    $green_button_font: #b0fd9c;

$nav_bar_blue__height: 2.7rem;

$nav_bar_on_scroll__height: 116px;

$logo_height:83px;

$body_width: 70%; //body's width default container 

$width_comic:54%;
$height_blue:80px;
