.buy-bar {
    text-transform: uppercase;
    font-size: $font_size_small;
    background-color: $blue;

    .bar_container {
        width: $body_width;
        margin: auto;

        div {
            display: flex;
            padding: 50px 0;
            align-items: center;

            h6 {
                padding-left: 10px;
                color: white;
                font-weight: 700;
                width: 100%;

            }
        }
    }
}